	<!-- 表尾 -->
	<footer class="footer footer-sm container">

		<!-- nav -->
		<ul class="d-flex align-center nav-sm">
			<li class="mr-auto">
				<a href="index.html">
					<img src="../assets/images/logo.svg" alt="logo" />
				</a>
			</li>
			<li class="mr-40 p-12-sm ">
				<a href="product_list.html" class="tg-label td-none neutral-900">商品列表</a>
			</li>
			<li class="p-12-sm">
				<a href="story.html" class="tg-label td-none neutral-900">品牌故事</a>
			</li>
		</ul>

		<!-- 版權聲明 -->
		<div class="mt-24 bt-gray-1px">
			<div class="pt-32 copyright-text">
				<p>Copyright ©2025 URBNSTYLE</p>
				<p class="mt-4">All Rights Reserved.</p>
			</div>
		</div>

	</footer>