<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>首頁</title>

	<!-- 引用 Bootstrap icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

</head>

<body>
	<!-- 引用 header.ejs (Embedded JavaScript Templates 語法)-->
	<%- include('./layout/header.ejs'); -%>

	<h1 class="index-title">我是首頁22345</h1>
	<img src="../assets/images/dog.jpg" style="width: 300px;" alt="cat">


	<!-- Footer 區塊  -->
	<!-- 優惠訊息 -->
	<div class="mt-48 mt-32-sm discount-banner">
		<div class="ta-center d-flex justify-center align-center">
			<p class="tg-H4 tg-H5-sm mr-24 mr-16-sm">加入會員取得 9 折優惠</p>
			<button class="btn btn-sign-up btn-sign-up-sm tg-label">馬上註冊</button>
		</div>
	</div>

	<!-- 引用 footer.ejs -->
	<%- include('./layout/footer.ejs'); -%>

	<script type="module" src="../main.js"></script>
</body>

</html>